MAINICON ICON "peazip.ico"
// Version Info 
1 VERSIONINFO 
FILEVERSION 1,1,8,0 
PRODUCTVERSION 1,1,8,0 
{ 
 BLOCK "StringFileInfo" 
  { 
  BLOCK "040904E4" 
   { 
VALUE "CompanyName", "Giorgio Tani" 
VALUE "FileVersion", "1.1.8" 
VALUE "FileDescription", "Pea: pack, encrypt, authenticate" 
VALUE "InternalName", "Pea" 
VALUE "LegalCopyright", "Giorgio Tani, LGPLv3" 
VALUE "LegalTrademarks", "none" 
VALUE "OriginalFilename", "Pea" 
VALUE "ProductName", "Pea" 
VALUE "ProductVersion", "1.1.8" 
   } 
  } 
 BLOCK "VarFileInfo" 
 { 
  VALUE "Translation", 1033, 1252 
 } 
}