body {
	background-color: #ffffff; 
	margin: 0px; 
	padding: 0px;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 10pt;
	line-height: 1.5;
	color: #333333  
}

table {
	margin: 0px; 
	padding: 0px;
        font-family: Helvetica,Arial,sans-serif;
	font-size: 10pt;
	line-height: 1.5;
	color: #333333  
}

paragraph {
	margin: 0px; 
	padding: 0px;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 10pt;
	line-height: 1.5;
	color: #333333  
}

a {text-decoration:none}

a:link { color: #4888f8 }

a:visited { color: #4888f8 }

a:hover { text-decoration:underline }

h1 { font-size: 10pt; line-height: 1.5; margin-bottom:0; margin-top:0; font-weight:normal }
h2 { font-size: 10pt; line-height: 1.5; margin-bottom:0; margin-top:0; font-weight:normal }
h3 { font-size: 10pt; line-height: 1.5; margin-bottom:0; margin-top:0; font-weight:normal }
h4 { font-size: 10pt; line-height: 1.5; margin-bottom:0; margin-top:0; font-weight:normal }