<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<httpErrors errorMode="Custom" defaultResponseMode="File" >
		<remove statusCode="404" />
         	<error statusCode="404" path="index.html" />
       </httpErrors>

        <rewrite>
<rules>
<rule name="HTTP to HTTPS redirect" stopProcessing="true">
<match url="(.*)" />
<conditions>
<add input="{HTTPS}" pattern="off" ignoreCase="true" />
</conditions>
<action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
</rule>

     <rule name="Redirect obsolete download lin64 url" stopProcessing="true">
     <match url="(.*)" />
     <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/peazip-linux-64.html" />
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/peazip-linux-x86_64.html" />
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/download-linux-gtk2-deb.html" />
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/download-linux-gtk2-deb32bit.html" />
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/download-linux-gtk2-portable.html" />
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/download-linux-gtk2-rpm.html" />
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/download-linux-gtk2-tgz.html" />
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/download-linux-qt-deb.html" />
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/download-linux-qt-portable.html" />
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/download-linux-qt-rpm.html" />
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/download-linux-qt-tgz.html" />
     </conditions>
     <action type="Redirect" redirectType="Permanent" url="https://www.peazip.org/peazip-linux.html"/>
     </rule>

     <rule name="Redirect obsolete download win64 url" stopProcessing="true">
     <match url="(.*)" />
     <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/download-installer-p-win64.html" />
     </conditions>
     <action type="Redirect" redirectType="Permanent" url="https://www.peazip.org/peazip-64bit.html"/>
     </rule>

     <rule name="Redirect obsolete download winportable url" stopProcessing="true">
     <match url="(.*)" />
     <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/download-portable-win64.html" />
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/download-portable-windows.html" />
     </conditions>
     <action type="Redirect" redirectType="Permanent" url="https://www.peazip.org/peazip-portable.html"/>
     </rule>

     <rule name="Redirect obsolete help faq url" stopProcessing="true">
     <match url="(.*)" />
     <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/edit-graphic-files.html" />
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/faq.html" />
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/image-viewer.html" />
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/peazip-compression-benchmark-legacy.html" />
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/translate-application.html" />
        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/translation-peazip-german-entpacker-programme.html" />
        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/translation-peazip-portuguese-compactar-arquivos.html" />
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/documentation/peazip_help_chm.pdf" />
     </conditions>
     <action type="Redirect" redirectType="Permanent" url="https://www.peazip.org/peazip-help-faq.html"/>
     </rule>

     <rule name="Redirect obsolete search url" stopProcessing="true">
     <match url="(.*)" />
     <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
	<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/search-software-resources.html" />
     </conditions>
     <action type="Redirect" redirectType="Permanent" url="https://www.peazip.org/peazip-more.html"/>
     </rule>

     <rule name="Redirect obsolete tos url" stopProcessing="true">
     <match url="(.*)" />
     <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/peazip-partnership.html" />
        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.peazip.org/peazip-partnership-old.html" />
     </conditions>
     <action type="Redirect" redirectType="Permanent" url="https://www.peazip.org/peazip-tos-privacy.html"/>
     </rule>

</rules>
</rewrite>
    </system.webServer>
</configuration>
