[Desktop Entry]
Name=PeaZip, add to GZip
NoDisplay=true
Comment=Add files and folders to GZip archive with PeaZip
Exec=peazip -add2gzip %F
TryExec=peazip
Icon=peazip_add
Type=Application
Terminal=false
Categories=Utility;Archiving;Compression;
Keywords=zip;rar;tar;extract;unpack;
MimeType=application/octet-stream;
