[Desktop Entry]
Name=PeaZip, add to ZIP
NoDisplay=true
Comment=Add files and folders to ZIP archive with PeaZip
Exec=peazip -add2zip %F
TryExec=peazip
Icon=peazip_zip
Type=Application
Terminal=false
Categories=Utility;Archiving;Compression;
Keywords=zip;rar;tar;extract;unpack;
MimeType=application/octet-stream;
