[Desktop Entry]
Name=PeaZip, add to XZ
NoDisplay=true
Comment=Add files and folders to XZ archive with PeaZip
Exec=peazip -add2xz %F
TryExec=peazip
Icon=peazip_add
Type=Application
Terminal=false
Categories=Utility;Archiving;Compression;
Keywords=zip;rar;tar;extract;unpack;
MimeType=application/octet-stream;
