[Desktop Entry]
Name=PeaZip, add to 7Z
NoDisplay=true
Comment=Add files and folders to 7Z archive with PeaZip
Exec=peazip -add27z %F
TryExec=peazip
Icon=peazip_7z
Type=Application
Terminal=false
Categories=Utility;Archiving;Compression;
Keywords=zip;rar;tar;extract;unpack;
MimeType=application/octet-stream;
