[Desktop Entry]
Name=PeaZip, convert
Comment=Convert archives with PeaZip
Exec=peazip -add2convert %F
TryExec=peazip
Icon=peazip_convert
Type=Application
Terminal=false
Categories=Utility;Archiving;Compression;
Keywords=zip;rar;tar;extract;unpack;
MimeType=all/all;
